.aboutUs{
    padding-top: 203px;
}

.aboutUs-head{
    font-size: 50px;
    font-weight: 700;
}

.aboutUs-txt{
    max-width: 859px;
    margin-top: 42px;
    font-size: 20px;
    font-weight: 300;
   
} 