.our-focus-section-wrap{
    display: flex;
    gap: 40px;
}
// .image-wrap{
//     width: 800px;
// }
.our-focus-img{
    width: 100%;
}

.bage-name{
    max-width: 58%;
    padding: 55px 30px 55px 50px;
    background-color: #010514;
  }

  .text{

  }