
<footer>
  <div class="footer-border">
  <div class="container footer-container">
    <div class="foter-box">
            <div class="footer-logo-box">
            <a class="logo-svg" href="https://argo-advisory.com/" aria-label="link on main book page">
              <div class="foter-logo">
              <svg class="argo-logo footer-logo"        
               ><use href="./images/icons.svg#icon-Logo"></use>
              </svg> 
            
              </div>
            </a>

            <h2 class="footer-head">Argo Advisory</h2>
</div>
            
<div class="social-and-txt">
            <div class="social-box">
              <h3 class="footer-subhead">Follow us</h3>
              <a class="social-link" href="https://twitter.com/Argo_advisory">
                <svg class="icon-twiter"        
                width="40"
                height="40"><use href="./images/icons.svg#icon-twiter"></use>
                </svg>
              </a>

              <a class="social-link" href="https://www.linkedin.com/company/argo-advis3rs">
                <svg class="icon-linkedin"        
                width="40"
                height="40"><use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
              
            </div>
       
            <p class="footer-txt">Unlock the value of your business<br>
              Set sail for success</p>

           


          </div>
    </div>     
    <div class="footer-legal">Legal Name: Argo Advisory eU
                Company Register Number: FN 620468d
                Country of Registration: Austria
                VAT number: 46 5535599
                Argo Advisory eU © All rights reserved
            </div>
  </div>
</div>
  </footer>
