<section class="fuel">
    <div class="container fuel-container">
        <div class="fuel-image-box">
            <div class="fuel-image1"></div>
            <img class="fuel-wave" src="./images/fuel/fuel-wave.png" alt="wave">
            <div class="fuel-image2"></div> 
        </div>

        <div class="fuel-box">
            <h2 class="fuel-head">Let's Fuel Your Business Journey Together!</h2>
            <p class="fuel-txt">We act as your sparring partners or step in as your finance department to take your enterprise to the next level.
            </p>
            <ul class="fuel-list">
                <li class="fuel-list-item"><div class="list-svg"> 
                    <svg class="circle"        
                    width="23"
                    height="23"><use href="./images/icons.svg#icon-circle"></use>
                   </svg></div>
                    <p class="fuel-list-txt">Review or create a business plan in line with the entrepreneur’s vision.</p>
                </li>
                <li class="fuel-list-item"><div class="list-svg"> 
                    <svg class="circle"        
                    width="23"
                    height="23"><use href="./images/icons.svg#icon-circle"></use>
                 </svg> </div>
                    <p class="fuel-list-txt">Monitor the financial situation and actively manage runway with risk prevention mechanisms.</p>
                </li>
                <li class="fuel-list-item"><div class="list-svg"> 
                    <svg class="circle"        
                  width="23"
                    height="23"><use href="./images/icons.svg#icon-circle"></use>
                   </svg> </div>
                    <p class="fuel-list-txt">Aid your business during the fundraising stage to give you an edge.</p>
                </li>
           
            </ul>
        </div>
    </div>