<section class="hero">
    <div class="container hero-container">
        <div class="wellcome-box">
            <h1 class="hero-head">Welcome to Argo Advisory</h1>
            <p class="hero-txt">Welcome to Argo Advisory, your strategic partner in the world of corporate finance. We focus on a spectrum of forward-looking services essential for jump-starting modern businesses. 
                From financial management and valuations to astute management consulting and digitization solutions.</p>
            <a class="hero-btn" href="#journey">Learn More</a>
        </div>
 
        <div class="hero-image-box"> 
            <div class="image1-wraper">
            </div>
            <div class="image2-wraper">
            </div>
            <img class="hero-wave1" src="./images/hero-wave1.png" alt="wave">
     
            
        </div>
    </div>
    
</section>  