<section class="our-focus">
    <div class="container">
        <div class="our-focus-section-wrap">
            
        <div class="image-wrap">
            <!-- <img class="our-focus-img" src="./images/Our-focus-img.jpg" alt="Our-focus-img" > -->
            <div class="bage-name">Andreas Bodensohn</div>
        </div>
        <div class="text">
            <h3 class="lng-our-focus-name">OUR FOCUS</h3>
            <h2 class="lng-our-focus-head">Renewable infrastructure in Europe</h2>
            <p class="lng-our-focus-text">The focus of our advisory services is on the successful sale of European projects, portfolios and companies in the renewable energy sector.</p>
            <p class="lng-our-focus-text2">Managing Director Andreas Bodensohn has proven with over 50 successful M&A deals and various financings that he is one of the most experienced and successful advisors in the industry</p>
        </div>
        </div>
    </div>

</section>