<section class="our-service" id="our-service">
    <div class="container our-service-container">
    <h2 class="our-service-head">How Can We Help You?</h2>
<ul class="service-wraper">
    
        <li class="service-card">
            <svg class="service-svg"><use href="./images/icons.svg#icon-chart"></use></svg>
            <h3 class="card-head">Due Diligence</h3>
            <p class="card-text">We perform thorough due diligence assessments for buy and sell-side transactions. We help you manage risk and achieve your goals timely. By diving into financial, operational, and strategic facets, we aim to arm decision-makers with the insights and knowledge needed to place them in the best position for informed decisions.</p>
            <div class="readMore-box"><div class="readMore" >Read more </div><svg class="service-arrow" width="20px" height="20px"><use href="./images/icons.svg#icon-arrow-right"></use></svg></div>
        </li>

        <li class="service-card">
            <svg class="service-svg"><use href="./images/icons.svg#icon-Frame-57"></use></svg>
            <h3 class="card-head">Valuation</h3>
            <p class="card-text">We offer an impartial valuation service, evaluating your business or potential targets meticulously, whether on a market or income approach. Our methodology employs fair procedures, delivering independent valuations that align with established marketstandards. </p>
            <div class="readMore-box"><div class="readMore" >Read more </div><svg class="service-arrow" width="20px" height="20px"><use href="./images/icons.svg#icon-arrow-right"></use></svg></div>
        </li>

        <li class="service-card">
            <svg class="service-svg"><use href="./images/icons.svg#icon-Frame-58"></use></svg>
            <h3 class="card-head">Capital Raise</h3>
            <p class="card-text">We facilitate comprehensive capital-raising endeavours, whether through equity, debt, convertible, or mezzanine financing.Leveraging vast networks and expertise, we secure funding structures that align optimally with your business objectives.</p>
            <div class="readMore-box"><div class="readMore" >Read more </div><svg class="service-arrow" width="20px" height="20px"><use href="./images/icons.svg#icon-arrow-right"></use></svg></div>
        </li>

        <li class="service-card">
            <svg class="service-svg"><use href="./images/icons.svg#icon-Frame-59"></use></svg>
            <h3 class="card-head">Exit planning</h3>
            <p class="card-text">We help you to strategically plan and execute comprehensive exit strategies, providing tailored guidance and support to optimize value realization for businesses, targeting a smooth transition and maximizing returns for stakeholders.</p>
            <div class="readMore-box"><div class="readMore" >Read more </div><svg class="service-arrow" width="20px" height="20px"><use href="./images/icons.svg#icon-arrow-right"></use></svg></div>
        </li>

        <li class="service-card">
            <svg class="service-svg"><use href="./images/icons.svg#icon-Frame-61"></use></svg>
            <h3 class="card-head">Interim Financial Management</h3>
            <p class="card-text">Adept financial management akin to an outsourced finance department. 
                We implement a cash plan, 
                and financial strategies, 
                aiming for seamless operations. 
                Deliver strategic financial counsel, offering insights into market trends, risk mitigation, and comprehensive financial planning, steering businesses toward sustainable development.</p>
            <div class="readMore-box"><div class="readMore" >Read more </div><svg class="service-arrow" width="20px" height="20px"><use href="./images/icons.svg#icon-arrow-right"></use></svg></div>
        </li>

        <li class="service-card">
            <svg class="service-svg"><use href="./images/icons.svg#icon-Frame-64"></use></svg>
            <h3 class="card-head">Digital Transformation </h3>
            <p class="card-text">Web Development Solutions: Craft web solutions to elevate online presence and amplify core business functionalities.<br /><br />

                Cloud Migration Strategy: Orchestrate a seamless transition of businesses to robust cloud infrastructures, optimizing operations and unlocking the full potential of technology.</p>
            <div class="readMore-box"><div class="readMore" >Read more </div><svg class="service-arrow" width="20px" height="20px"><use href="./images/icons.svg#icon-arrow-right"></use></svg></div>
        </li>

        <li class="service-card">
            <svg class="service-svg"><use href="./images/icons.svg#icon-Frame-60"></use></svg>
            <h3 class="card-head">Special strategic
                projects</h3>
            <p class="card-text">Outsourcing - Tailored for businesses seeking to establish outsourcing practices in the Caucasus. We specialize in guiding enterprises to achieve substantial cost reductions.</p>
            <div class="readMore-box"><div class="readMore" >Read more </div><svg class="service-arrow" width="20px" height="20px"><use href="./images/icons.svg#icon-arrow-right"></use></svg></div>
        </li>

        <li class="service-card">
            <svg class="service-svg"><use href="./images/icons.svg#icon-Frame-63"></use></svg>
            <h3 class="card-head">Expansion Planning</h3>
            <p class="card-text">CEE - Strategic planning for enterprises targeting to operate in Central and Eastern Europe. We guide you to navigate the liquid and high-yield real 
                estate market in the Caucasus.<br /><br />
                 
                USA/China - Strategies for enterprises aiming to establish a presence out of the European domain, navigating regulatory, market, and cultural nuances effectively.</p>
            <div class="readMore-box"><div class="readMore" >Read more </div><svg class="service-arrow" width="20px" height="20px"><use href="./images/icons.svg#icon-arrow-right"></use></svg></div>
        </li>
     
    </ul>
</div>


</section>