<section class="partners">
    <div class="container">
        <h2 class="partners-head">Project Experience</h2>

        <div class="partners-box">
            <img src="./images/partners/p1.png" width="120" alt="pattner1">
            <img src="./images/partners/p2.png" width="120" alt="pattner2">
            <img src="./images/partners/p3.jpeg" width="85" alt="pattner3">
            <img src="./images/partners/p4.png" width="120" alt="pattner4">
            <img src="./images/partners/p5.jpeg" width="120" alt="pattner5">
            <img src="./images/partners/p6.png" width="120" alt="pattner6">
        </div>
    </div>

</section> 