<section class="resourses" id="resourses">
    <div class="container resourses-container">
        <h2 class="resourses-head">Insights and resources</h2>

        <div class="resourses-btn-box"><a class="resourses-btn" href="./insihts-and-resourses.html">Resources</a></div>


            <div class="swiper-action">
                <div class="swiper-buttons">
                        <div class=" button-prev">
                            <svg class="button-icon">
                                <use href="./images/icons.svg#icon-left"></use>
                            </svg>
                        </div>
                        <div class="button-next">
                            <svg class="button-icon">
                                <use href="./images/icons.svg#icon-right"></use>
                            </svg>
                        </div>
                </div>   

            </div>


        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
             
              </div>

            </div>
          </div>

    </div>
    

   
</section>

<script>

function goToArticle(articleId) {
  if (articleId) {
    const url = `insihts-and-resourses.html?article=${articleId}`;
    window.location.href = url;
  }
}
</script>
