<section class="statementofPurpose">
    <div class="container purpose-container">
        <div class="purpose-left-box">
            <div class="purpose-img1"></div>
            <div class="purpose-img2">
                <img class="purpose-wave" src="./images/purpose/wawe5.png" alt="wawe5">
            </div>
            
        </div> 

        <img class="purpose-wave2" src="./images/purpose/wawe5.png" alt="wawe5">
        <img class="purpose-wave3" src="./images/purpose/wawe5.png" alt="wawe5">

        <div class="purpose-right-box">
            <h2 class="purpose-head">Statement of Purpose</h2>
            <p class="purpose-txt purpose-txt1">We aspire to empower startups and SMEs by offering bespoke corporate finance solutions. The goal is to simplify the intricacies of corporate finance. By doing so, we enable entrepreneurs to concentrate on their strengths and maximize their positive societal impact. </p>
            <p class="purpose-txt purpose-txt2">Through tailored services and steadfast support, we aim to unlock the enterprise's potential, striving that every visionary journey has the best chance to succeed.</p>
        </div>
    </div>

</section>